    .axis path {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
    }
    
    .axis text {
        font-family: Times;
        font-size: 16px;
    }

    .legend {
        font-size: 14px;
        font-weight: bold;
    }
